.filepicker {
	display: flex;
	flex-direction: column;
	gap: 10px;

	&__input {
		width: 100%;
		display: flex;
		gap: 10px;
		height: 40px;

		&.invalid {
			textarea {
				--input-stroke: var(--bg-error-solid);
				--input-focus: var(--bg-error-solid);
			}
		}

		&.valid {
			textarea {
				--input-stroke: var(--bg-success-solid);
				--input-focus: var(--bg-success-solid);
			}
		}

		textarea {
			width: 100%;
		}

		&__button {
			height: 32px;
			min-width: 32px;
			display: flex;
			align-items: center;
			justify-content: center;

			border-radius: 4px;
			color: var(--color-secondary);
			background: var(--bg-tertiary);
			border: 1px solid var(--separator-primary);

			&:focus {
				border-color: transparent;
				outline: 2px solid #{illyrica.$color-blue-500};
			}
		}
	}

	&__alert {
		font-size: 14px;
		font-weight: 400;
		display: flex;
		gap: 5px;

		&.invalid {
			color: var(--color-error);
		}

		&.valid {
			color: var(--color-success);
		}
	}
}
