@use 'illyrica/primitives' as illyrica;
@use 'illyrica/mixins' as mixins;
@use 'illyrica/os' as *;
@use 'sass:color' as color;

@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Mono';

@function greyscale($color) {
	$grey: calc((color.red($color) + color.green($color) + color.blue($color)) / 3);

	@return rgba($grey, $grey, $grey, alpha($color));
}

@mixin light-theme {
	--font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
		Cantarell, 'Helvetica Neue', sans-serif;
	--font-mono: var(--settings-font-family, 'SF Mono', 'Fira Code', monospace);
	--color-contrast: var(--base-black);
	--color-primary: var(--base-dark-grey);
	--color-secondary: var(--base-grey);
	--color-link: var(--color-blue-500);
	--color-error: var(--color-red-500);
	--color-success: var(--color-green-500);
	--color-warning: var(--color-yellow-500);
	--status-added: var(--color-green-500);
	--status-modified: var(--color-yellow-500);
	--status-deleted: var(--color-red-500);
	--status-renamed: var(--color-pink-500);
	--status-untracked: var(--color-blue-500);
	--bg-primary: var(--material-primary);
	--bg-secondary: var(--material-secondary);
	--bg-tertiary: var(--material-tertiary);
	--bg-quaternary: var(--material-quaternary);
	--bg-quinary: var(--material-quinary);
	--bg-senary: var(--material-senary);
	--bg-material: var(--bg-tertiary);
	--bg-floating: var(--bg-secondary);
	--bg-tooltip: var(--base-darker-grey);
	--bg-brand: var(--color-blue-500);
	--bg-hover: #{greyscale(color.adjust(illyrica.$color-blue-500, $alpha: -0.9))};
	--bg-active: #{(color.adjust(illyrica.$color-blue-500, $alpha: -0.85))};
	--bg-active-unfocused: #{greyscale(color.adjust(illyrica.$color-blue-500, $alpha: -0.85))};
	--bg-error: rgb(227 83 83 / 5%);
	--bg-error-solid: rgb(227 83 83 / 20%);
	--bg-success: rgb(82 228 82 / 5%);
	--bg-success-solid: rgb(82 228 82 / 20%);
	--bg-warning: rgb(236 197 118 / 5%);
	--bg-warning-solid: rgb(236 197 118 / 20%);
	--bg-diff-add: var(--bg-success);
	--bg-diff-add-solid: var(--bg-success-solid);
	--bg-diff-del: var(--bg-error);
	--bg-diff-del-solid: var(--bg-error-solid);
	--separator-primary: var(--base-light-grey);
	--separator-secondary: var(--base-lighter-grey);
}

@mixin dark-theme {
	--font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
		Cantarell, 'Helvetica Neue', sans-serif;
	--font-mono: var(--settings-font-family, 'SF Mono', 'Fira Code', monospace);
	--color-contrast: var(--base-white);
	--color-primary: var(--dark-base-dark-grey);
	--color-secondary: var(--dark-base-grey);
	--color-link: var(--color-blue-500);
	--color-error: var(--color-red-500);
	--color-success: var(--color-green-500);
	--color-warning: var(--color-yellow-500);
	--status-added: var(--color-green-800);
	--status-modified: var(--color-yellow-800);
	--status-deleted: var(--color-red-800);
	--status-renamed: var(--color-pink-800);
	--status-untracked: var(--color-blue-800);
	--bg-primary: var(--dark-material-primary);
	--bg-secondary: var(--dark-material-secondary);
	--bg-tertiary: var(--dark-material-tertiary);
	--bg-quaternary: var(--dark-material-quaternary);
	--bg-quinary: var(--dark-material-quinary);
	--bg-senary: var(--dark-material-senary);
	--bg-material: var(--bg-tertiary);
	--bg-floating: var(--bg-secondary);
	--bg-tooltip: var(--dark-base-darker-grey);
	--bg-brand: var(--color-blue-500);
	--bg-hover: #{greyscale(color.adjust(illyrica.$color-blue-500, $alpha: -0.9))};
	--bg-active: #{(color.adjust(illyrica.$color-blue-500, $alpha: -0.7))};
	--bg-active-unfocused: #{greyscale(color.adjust(illyrica.$color-blue-500, $alpha: -0.7))};
	--bg-error: rgb(227 83 83 / 5%);
	--bg-error-solid: rgb(227 83 83 / 20%);
	--bg-success: rgb(82 228 82 / 5%);
	--bg-success-solid: rgb(82 228 82 / 20%);
	--bg-warning: rgb(236 197 118 / 5%);
	--bg-warning-solid: rgb(236 197 118 / 20%);
	--bg-diff-add: var(--bg-success);
	--bg-diff-add-solid: var(--bg-success-solid);
	--bg-diff-del: var(--bg-error);
	--bg-diff-del-solid: var(--bg-error-solid);
	--separator-primary: var(--dark-base-light-grey);
	--separator-secondary: var(--dark-base-lighter-grey);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
}

html {
	/* stylelint-disable-next-line */
	font-size: 13px; // 14px is the default font size for macOS
	overflow: hidden;
	font-family: var(--font-primary);

	@include dark-theme;
}

.theme-dark,
.theme-dark ::after,
.theme-dark ::before {
	@include dark-theme;
}

.theme-light,
.theme-light ::after,
.theme-light ::before {
	@include light-theme;
}

.unfocused,
.unfocused ::after,
.unfocused ::before {
	--bg-active: var(--bg-active-unfocused) !important;
}

@media (prefers-color-scheme: dark) {
	.theme-system,
	.theme-system ::after,
	.theme-system ::before {
		@include dark-theme;
	}
}

@media (prefers-color-scheme: light) {
	.theme-system,
	.theme-system ::after,
	.theme-system ::before {
		@include light-theme;
	}
}

button,
input,
select,
textarea {
	font-family: inherit;
	box-sizing: border-box;
}

#app-container {
	display: flex;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	color: var(--color-primary);
	font-family: var(--font-primary);

	&.platform-darwin,
	&.platform-win32 {
		padding-top: 28px;
	}

	&:not(.vibrancy) {
		background: var(--bg-primary);
	}
}

.window-control-bar {
	width: 100%;
	height: 28px;
	inset: 0;
	position: absolute;
	background: color-mix(in srgb, var(--bg-primary) 50%, transparent);
	border-bottom: 1px solid var(--separator-primary);
	-webkit-app-region: drag;
}

.scroller {
	overflow: auto;
	overflow: hidden auto;
	scrollbar-width: thin;
	scrollbar-color: var(--bg-secondary) var(--bg-floating);

	&.no-x {
		overflow-x: auto;
	}

	&.hide-bar {
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--color-secondary);
		border: 2px solid var(--bg-secondary);
		border-radius: 4px;

		&:hover {
			background-color: var(--color-primary);
		}
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
}
