@use 'illyrica/primitives' as illyrica;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono');

@function opacify($amount, $color) {
	@return rgba(red($color), green($color), blue($color), $amount);
}

@function greyscale($color) {
	$grey: calc((red($color) + green($color) + blue($color)) / 3);

	@return rgba($grey, $grey, $grey, alpha($color));
}

@mixin lightTheme {
	--font-primary: 'SF Pro Display', 'Inter', sans-serif;
	--font-mono: var(--settings-font-family, 'SF Mono', 'Fira Code', monospace);

	--color-primary: var(--base-dark-grey);
	--color-secondary: var(--base-grey);
	--color-label: var(--base-grey);
	--color-link: var(--color-blue-500);
	--color-error: var(--color-red-500);
	--color-success: var(--color-green-500);
	--color-warning: var(--color-yellow-500);

	--status-added: var(--color-green-500);
	--status-modified: var(--color-yellow-500);
	--status-deleted: var(--color-red-500);
	--status-untracked: var(--color-blue-500);

	--bg-primary: var(--material-primary);
	--bg-secondary: var(--material-secondary);
	--bg-tertiary: var(--material-tertiary);
	--bg-quaternary: var(--material-quaternary);
	--bg-quinary: var(--material-quinary);
	--bg-senary: var(--material-senary);
	--bg-material: var(--bg-tertiary);
	--bg-floating: var(--bg-secondary);
	--bg-brand: var(--color-blue-500);
	--bg-hover: #{greyscale(opacify(0.1, illyrica.$color-blue-500))};
	--bg-active: #{opacify(0.3, illyrica.$color-blue-500)};
	--bg-active-unfocused: #{greyscale(opacify(0.3, illyrica.$color-blue-500))};
	--bg-error: rgba(227, 83, 83, 0.05);
	--bg-error-solid: rgba(227, 83, 83, 0.2);
	--bg-success: rgba(82, 228, 82, 0.05);
	--bg-success-solid: rgba(82, 228, 82, 0.2);
	--bg-warning: rgba(236, 197, 118, 0.05);
	--bg-warning-solid: rgba(236, 197, 118, 0.2);

	--bg-diff-add: var(--bg-success);
	--bg-diff-add-solid: var(--bg-success-solid);
	--bg-diff-del: var(--bg-error);
	--bg-diff-del-solid: var(--bg-error-solid);

	--separator-primary: var(--base-light-grey);
	--separator-secondary: var(--base-lighter-grey);
}

@mixin darkTheme {
	--font-primary: 'SF Pro Display', 'Inter', sans-serif;
	--font-mono: var(--settings-font-family, 'SF Mono', 'Fira Code', monospace);

	--color-primary: var(--dark-base-dark-grey);
	--color-secondary: var(--dark-base-grey);
	--color-label: var(--dark-base-grey);
	--color-link: var(--color-blue-500);
	--color-error: var(--color-red-500);
	--color-success: var(--color-green-500);
	--color-warning: var(--color-yellow-500);

	--status-added: var(--color-green-800);
	--status-modified: var(--color-yellow-800);
	--status-deleted: var(--color-red-800);
	--status-untracked: var(--color-blue-800);

	--bg-primary: var(--dark-material-primary);
	--bg-secondary: var(--dark-material-secondary);
	--bg-tertiary: var(--dark-material-tertiary);
	--bg-quaternary: var(--dark-material-quaternary);
	--bg-quinary: var(--dark-material-quinary);
	--bg-senary: var(--dark-material-senary);
	--bg-material: var(--bg-tertiary);
	--bg-floating: var(--bg-secondary);
	--bg-brand: var(--color-blue-500);
	--bg-hover: #{greyscale(opacify(0.1, illyrica.$color-blue-500))};
	--bg-active: #{opacify(0.3, illyrica.$color-blue-500)};
	--bg-active-unfocused: #{greyscale(opacify(0.3, illyrica.$color-blue-500))};
	--bg-error: rgba(227, 83, 83, 0.05);
	--bg-error-solid: rgba(227, 83, 83, 0.2);
	--bg-success: rgba(82, 228, 82, 0.05);
	--bg-success-solid: rgba(82, 228, 82, 0.2);
	--bg-warning: rgba(236, 197, 118, 0.05);
	--bg-warning-solid: rgba(236, 197, 118, 0.2);

	--bg-diff-add: var(--bg-success);
	--bg-diff-add-solid: var(--bg-success-solid);
	--bg-diff-del: var(--bg-error);
	--bg-diff-del-solid: var(--bg-error-solid);

	--separator-primary: var(--dark-base-light-grey);
	--separator-secondary: var(--dark-base-lighter-grey);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
}

html {
	font-size: 13px; // 14px is the default font size for macOS
}

.theme-dark,
.theme-dark ::after,
.theme-dark ::before {
	@include darkTheme;
}

.theme-light,
.theme-light ::after,
.theme-light ::before {
	@include lightTheme;
}

.unfocused,
.unfocused ::after,
.unfocused ::before {
	--bg-active: var(--bg-active-unfocused) !important;
}

@media (prefers-color-scheme: dark) {
	.theme-system,
	.theme-system ::after,
	.theme-system ::before {
		@include darkTheme;
	}
}

@media (prefers-color-scheme: light) {
	.theme-system,
	.theme-system ::after,
	.theme-system ::before {
		@include lightTheme;
	}
}

html {
	overflow: hidden;
}

button,
input,
select,
textarea {
	font-family: inherit;
	box-sizing: border-box;
}

#app-container {
	display: flex;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	color: var(--color-primary);
	font-family: var(--font-primary);

	&.platform-darwin,
	&.platform-win32 {
		padding-top: 28px;
	}

	&:not(.vibrancy) {
		background: var(--bg-primary);
	}
}

.window-control-bar {
	width: 100%;
	height: 28px;
	inset: 0;
	position: absolute;
	background: var(--bg-primary);
	opacity: 0.5;
	border-bottom: 1px solid var(--separator-primary);

	-webkit-app-region: drag;
}

.scroller {
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--bg-secondary) var(--bg-floating);

	&.hide-bar {
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--color-secondary);
		border: 2px solid var(--bg-secondary);
		border-radius: 4px;

		&:hover {
			background-color: var(--color-primary);
		}
	}

	&::-webkit-scrollbar-track {
		background-color: var(--bg-secondary);
		border-radius: 4px;
	}
}
