.onboarding {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 4rem;

	&-modal {
		&__buttons {
			display: flex;
			padding-bottom: 20px;
			justify-content: center;
			align-items: center;
			gap: 1rem;

			&__button {
				display: flex;
				height: 10rem;
				width: 10rem;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				border-radius: 0.25rem;
				border: 1px solid var(--separator-secondary);
				background: var(--bg-secondary);
				color: var(--color-primary);
				transition: all 0.2s ease-in-out;

				svg {
					width: 2rem;
					height: 2rem;
				}

				&:hover {
					background: var(--bg-hover);
					color: var(--color-contrast);
				}

				@include mixins.focusable;
			}
		}

		&__bugs {
			display: flex;
			gap: 5px;
			margin-bottom: 2rem;
			align-items: flex-end;

			a {
				color: var(--color-blue-500);
				text-decoration: none;
				font-weight: 400;

				&:hover {
					text-decoration: underline;
				}

				&:focus {
					outline: none;
					text-decoration: underline;
				}
			}
		}
	}

	&-tooltip {
		display: flex;
		width: 215px;
		padding: 1.5rem 0;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		&__title {
			width: 90%;
			text-align: center;
			font-weight: 400;
			line-height: 120%;
		}

		&__steps {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;
			align-self: stretch;
		}

		&__step {
			width: 0.5rem;
			height: 0.5rem;
			border-radius: 50%;
			background-color: var(--color-blue-500);
			opacity: 0.2;

			&.active {
				opacity: 1;
			}
		}
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 0.5rem;

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 3rem;
			font-size: 8rem;
			font-weight: 600;
			letter-spacing: -0.006rem;
			color: var(--color-contrast);

			svg {
				height: 6rem;
				width: auto;
				color: var(--color-contrast);
			}
		}
	}

	&__actions {
		display: flex;
		gap: 1rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__anchor {
			background: none;
			border: none;
			color: var(--color-blue-500);
			font-size: 0.875rem;
			font-weight: 400;
			line-height: 1.25rem;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
