.layer {
	position: absolute;
	inset: 0;
	z-index: 98;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition:
		background-color 0.2s ease-in-out,
		padding 0.2s ease-in-out;

	&-rich {
		padding: 8% 10%;

		&.visible {
			background-color: rgb(0 0 0 / 50%);
			pointer-events: all;
		}
	}

	&-bare {
		padding: 0;

		&.visible {
			pointer-events: all;
		}
	}
}
