.layer:has(> .settings-layer) {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal:has(.settings-layer__title__buttons) {
	height: 100% !important;
}

.settings-layer {
	width: min(100%, 900px);
	height: min(100%, 600px);
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid var(--separator-secondary);
	display: flex;
	padding: 40px;
	flex-direction: column;
	background-color: var(--bg-primary);
	color: var(--color-primary);
	position: relative; // undo <dialog> styling

	&__title {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		user-select: none;

		h1 {
			font-size: 2.5rem;
			font-weight: 500;
		}

		button {
			width: 32px;
			height: 32px;
			color: var(--color-primary);
			background-color: transparent;
			opacity: 0.6;

			&:focus {
				color: var(--color-blue-500);
				opacity: 1;
				outline: none;
			}

			&:hover {
				opacity: 1;
			}
		}
	}

	&__debug {
		margin-top: 32px;
	}

	h2 {
		font-size: 2rem;
		font-weight: 500;
		margin-bottom: 10px;
	}

	&__setting {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-bottom: 10px;
		margin-bottom: 20px;
		border-bottom: thin solid var(--separator-secondary);
		gap: 10px;

		&.account {
			gap: 20px;
			flex-direction: row;
			justify-content: space-between;
		}

		&__label {
			font-size: 1rem;
			font-weight: 400;
			color: var(--color-primary);
			user-select: none;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 4px;

			&__note {
				font-size: 1rem;
				font-weight: 400;
				color: var(--color-secondary);
			}
		}

		&__description {
			font-size: 1rem;
			font-weight: 400;
			color: var(--color-secondary);
			user-select: none;
		}

		&__input {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}

	&__workflows {
		display: flex;
		flex-direction: column;
		gap: 8px;

		&__workflow {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 16px;
			background-color: var(--bg-tertiary);
			font-size: 1rem;
			border-radius: 4px;
			font-weight: 400;
			padding: 16px;
			user-select: none;
			color: var(--color-primary);
			border: 1px solid var(--separator-primary);

			&:hover {
				background-color: var(--bg-hover);
			}

			&:focus {
				outline: none;
				border: 2px solid var(--color-blue-500);
				padding: 15px;
			}

			svg {
				width: 2rem;
				height: 2rem;
				color: var(--color-primary);
			}

			&__content {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				gap: 16px;
				width: 100%;

				&__text {
					display: flex;
					flex-direction: column;
					width: 100%;
					gap: 4px;

					&__header {
						display: flex;
						width: 100%;
						justify-content: space-between;
						align-items: center;
						font-size: 1rem;
						font-weight: 500;
						gap: 16px;

						&__filename {
							font-size: 0.85rem;
							font-weight: 400;
							color: var(--color-secondary);
						}
					}

					&__description {
						color: var(--color-secondary);
						font-size: 1rem;
						font-weight: 400;
					}
				}
			}

			&__options {
				display: flex;
				flex-direction: column;
				gap: 16px;
				width: 100%;

				&__option {
					display: flex;
					flex-direction: column;
					gap: 8px;
					width: 100%;

					&__label {
						font-size: 1rem;
						font-weight: 400;
						color: var(--color-secondary);
					}
				}
			}
		}
	}
}

.radio {
	display: flex;
	flex-direction: column;
	gap: 0;
	user-select: none;

	&.disabled {
		opacity: 0.4;
		pointer-events: none;
	}

	.settings-layer__setting__input__radio {
		position: relative;
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;
		font-size: 1rem;
		font-weight: 400;
		min-height: 40px;
		padding: 8px 32px;
		color: var(--color-primary);
		background-color: var(--bg-tertiary);
		border: 1px solid var(--separator-primary);
		border-bottom-width: 0;

		&:nth-child(1) {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}

		&:nth-last-child(1) {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom-width: 1px;
		}

		&:hover {
			background-color: var(--bg-quaternary);
		}

		&:active {
			background-color: var(--bg-quinary);
		}

		&.active {
			background-color: #1c84ec33; // hardcoded 15% alpha

			.check {
				border: 1px solid var(--color-blue-500);
				background-color: #1c84ec85; // hardcoded 50% alpha
			}
		}

		&:focus {
			outline: 2px solid var(--color-blue-500);
			outline-offset: -2px;
		}

		input {
			position: absolute;
			opacity: 0;
			width: 100%;
			top: 0;
			left: 0;
			height: 100%;
			border-radius: inherit;

			&:focus {
				outline: none;
				border: 2px solid var(--color-blue-500);
				padding: 10px 30px;
			}
		}

		.check {
			position: absolute;
			left: 10px;
			height: 10px;
			width: 10px;
			background-color: transparent;
			border: 1px solid var(--separator-primary);
			border-radius: 50%;
		}

		.image {
			width: 20px;
			height: 20px;
			border-radius: 4px;
		}

		.hint {
			margin-left: auto;
			color: var(--color-secondary);
			font-size: 1rem;
			font-weight: 400;

			&.mono {
				font-family: var(--font-mono);
				font-size: 0.8rem;
			}
		}
	}
}

.switch {
	display: flex;
	flex-direction: column;
	gap: 10px;
	user-select: none;

	&.disabled {
		opacity: 0.4;
		pointer-events: none;
	}

	label {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 10px;
		padding: 10px 0;
		align-items: center;
		font-size: 1rem;
		color: var(--color-primary);
		font-weight: 400;

		.label {
			display: flex;
			flex-direction: column;
			gap: 5px;

			.note {
				font-size: 1rem;
				font-weight: 400;
				color: var(--color-secondary);
			}
		}

		.check {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 40px;
			max-width: 40px;
			height: 22px;
			border-radius: 20px;
			transition: transform 0.1s ease-in;
			color: var(--color-primary);
			background: var(--bg-tertiary);
			border: 1px solid var(--switch-stroke);

			--switch-thumb: var(--bg-hover);
			--switch-stroke: var(--base-dark-grey);
			--switch-slider-stroke: var(--switch-stroke);
			--switch-focus: var(--color-blue-500);

			&:focus {
				border-color: transparent;
				outline: 1px solid var(--switch-focus);
			}

			&:hover {
				background: var(--bg-quaternary);
			}

			input {
				position: absolute;
				opacity: 0;
			}

			.slider {
				position: absolute;
				top: 3px;
				left: 3px;
				width: 14px;
				height: 14px;
				border: 1px solid var(--switch-slider-stroke);
				background-color: var(--switch-thumb);
				border-radius: 50%;
				transition: transform 0.2s cubic-bezier(0, 0, 0.52, 0.96);
			}

			&.active {
				--switch-slider-stroke: var(--color-blue-500);
				--switch-thumb: #1c84ec85; // hardcoded 50% alpha
				--switch-stroke: var(--bg-active);

				background: #1c84ec33; // hardcoded 20% alpha

				.slider {
					transform: translateX(18px);
				}
			}
		}
	}
}

.settings-layer__setting__account {
	display: flex;
	gap: 8px;
	align-items: center;

	&__image {
		width: 32px;
		height: 32px;
		border-radius: 50%;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin-right: 32px;

		&__name {
			font-size: 1rem;
			font-weight: 400;
			color: var(--color-primary);
		}

		&__login {
			font-size: 1rem;
			font-weight: 400;
			color: var(--color-secondary);
		}
	}

	.button {
		white-space: nowrap;
	}
}

.settings-layer__setting__client-themes__theme {
	background: var(--bg-quaternary);
	border: 1px solid var(--separator-primary);
	border-bottom-width: 0;

	&:first-of-type {
		border-radius: 4px 4px 0 0;
	}

	&:last-of-type {
		border-radius: 0 0 4px 4px;
		border-bottom-width: 1px;
	}

	.settings-layer__setting__input {
		padding: 8px 16px;
	}
}

.settings-layer__setting__themepicker {
	display: flex;
	flex-direction: row;
	gap: 16px;

	.image {
		height: 48px;
		border-radius: 4px;
		border: 1px solid var(--separator-primary);
	}

	input {
		display: none;
	}

	label {
		display: flex;
		flex-direction: row;
		gap: 8px;
		padding: 8px;
		width: 100%;
		border-radius: 8px;

		.title {
			font-size: 1rem;
			font-weight: 400;
			color: var(--color-primary);
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding-inline: 8px;

			svg {
				color: var(--color-secondary);
			}

			.definition:focus {
				outline: none;

				svg {
					color: var(--color-blue-500);
				}
			}
		}

		&.active .title {
			color: var(--color-blue-500);
		}

		&.active,
		&:focus {
			padding: 6px; // visually compensate for border
			border: 2px solid var(--color-blue-500);
			outline: none;
		}
	}
}
