@use '../../../illyrica/mixins';

@keyframes loading {
	0% {
		background-position-x: -200px;
	}

	100% {
		background-position-x: 200px;
	}
}

.workspace__header {
	display: flex;
	align-items: center;
	min-height: 72px;
	border-bottom: 1px solid var(--separator-primary);
	-webkit-app-region: drag;

	.contextmenu-wrapper {
		height: 100%;
	}

	&__spacer {
		flex: 1;
	}

	&__panelbutton {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		padding-inline: 35px;
		gap: 16px;
		user-select: none;
		position: relative;
		-webkit-app-region: no-drag;
		overflow: hidden;

		@include mixins.focusable;

		&:hover {
			background-color: var(--bg-hover);
		}

		&.active {
			background-color: var(--bg-active);

			svg {
				color: var(--color-primary);
			}
		}

		&:not(:has(.workspace__header__panelbutton__info)) {
			padding-inline: 20px;
		}

		&.disabled {
			pointer-events: none;

			> :not(.workspace__header__panelbutton__loading) {
				opacity: 0.4;
			}

			svg {
				opacity: 0.4;
			}
		}

		> :not(.workspace__header__panelbutton__loading) {
			z-index: 1;
		}

		&__loading {
			height: 100%;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 0;
			background-color: #ffffff05;
			background-image: linear-gradient(to right, #fff0 10%, var(--bg-hover) 50%, #fff0 80%);
			background-repeat: no-repeat;
			animation: loading 700ms linear infinite;
		}

		&__info {
			display: flex;
			flex-direction: column;
			font-weight: 400;
			text-align: initial;
			color: var(--color-primary);
			overflow: hidden;
			width: 100%;

			&__label {
				font-size: 1rem;
				font-weight: 600;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}

			&__detail {
				font-size: 0.85rem;
				color: var(--color-secondary);
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}

		svg {
			z-index: 1;
			width: 24px;
			height: 24px;
			flex-shrink: 0;
			color: var(--color-secondary);
			pointer-events: none;
		}
	}
}

.popout .branches-picker {
	user-select: none;
	max-width: 300px;
	overflow: hidden;

	&__label {
		color: var(--color-secondary);
		font-size: 0.85rem;
		padding: 16px 16px 8px;
		font-weight: 600;
		outline: none;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 0;

		&__item {
			background: none;
			display: flex;
			padding: 8px 16px;
			align-items: center;
			color: var(--color-primary);
			border-top: 1px solid var(--separator-secondary);
			justify-content: space-between;
			text-align: left;
			min-width: 250px;
			width: 100%;
			gap: 8px;

			@include mixins.focusable;

			&__name {
				overflow: hidden;
				display: flex;

				&__path {
					color: var(--color-secondary);
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}

				&__separator {
					color: var(--color-secondary);
				}

				&__branch {
					color: var(--color-primary);
					white-space: nowrap;
				}
			}

			&-new {
				input {
					width: 100%;
					border: none;
					background: none;
					color: var(--color-primary);
					padding: 0;
					margin: 0;
					outline: none;

					&:focus {
						outline: none;
					}
				}

				&__hint {
					background: none;
					border: none;
					width: fit-content;
					font-family: var(--font-primary);
					height: 0.85rem;
					font-size: 0.85rem;
					color: var(--color-secondary);
				}
			}

			&:hover {
				background-color: var(--bg-hover);
			}

			&.active {
				background-color: var(--bg-active);
			}

			&__info {
				color: var(--color-secondary);
				font-size: 0.85rem;
				white-space: nowrap;
			}
		}
	}

	&__new {
		padding: 8px 16px 12px;
		color: var(--color-blue-500);
		font-size: 0.85rem;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 6px;
		background: none;
		border-top: 1px solid var(--separator-secondary);
		border: none;
		width: 100%;

		&:focus {
			outline: none;
			text-decoration: underline;
		}

		&:hover {
			color: var(--color-blue-700);
		}

		svg {
			width: 0.85rem;
			height: 0.85rem;
		}
	}
}
