.workspace__header {
	display: flex;
	align-items: center;
	min-height: 72px;
	border-bottom: 1px solid var(--separator-primary);
	transition: background-color 0.2s ease-in-out;
	-webkit-app-region: drag;

	&__spacer {
		flex: 1;
	}

	&__panelbutton {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		cursor: pointer;
		padding-inline: 35px;
		gap: 16px;
		transition:
			background-color 0.2s ease-in-out,
			opacity 0.2s ease-in-out;

		&.disabled {
			opacity: 0.4;
			pointer-events: none;
		}

		&__info {
			display: flex;
			flex-direction: column;
			font-weight: 400;
			text-align: initial;
			color: var(--color-primary);

			&__label {
				font-size: 14px;
				font-weight: 600;
			}

			&__detail {
				font-size: 12px;
				color: var(--color-secondary);
			}
		}

		&:hover {
			background-color: var(--bg-hover);
		}

		&:active {
			background-color: var(--bg-active);
		}

		&:focus {
			border-color: transparent;
			outline: 2px solid #{illyrica.$color-blue-500};
		}

		svg {
			width: 24px;
			height: 24px;
			color: var(--color-secondary);
		}
	}
}
