.sidebar__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	height: 72px;
	border-bottom: 1px solid var(--separator-primary);
	user-select: none;

	&:focus-visible {
		outline: none;
		background-color: var(--bg-hover);
	}

	&__info {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: 4px;
	}

	&__chevron {
		font-size: 1.5rem;
		color: var(--color-primary);
		opacity: 0.6;
		transition: transform 0.2s ease-in-out;
	}

	&__repository {
		color: var(--color-primary);
		font-size: 1.25rem;
		line-height: 20px;
		font-weight: 500;
	}

	&__details {
		display: flex;
		gap: 4px;
		font-size: 0.85rem;
		color: var(--color-primary);
		opacity: 0.6;
	}

	&:hover {
		background-color: var(--bg-hover);
	}

	&.active {
		background-color: var(--bg-active);
	}
}
