@keyframes slidein {
	0% {
		scale: 1 1;
	}

	100% {
		scale: 0 1;
	}
}

.layer[data-key='notification'] {
	pointer-events: none !important;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	gap: 16px;
	padding: 16px;
}

.notification {
	border-radius: 4px;
	background-color: var(--bg-floating);
	border: 1px solid var(--separator-primary);
	box-shadow: -2px 4px 11px rgb(0 0 0 / 25%);
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	pointer-events: all;
	max-width: 400px;
	position: relative;
	overflow: hidden;

	@include mixins.focusable;

	&__icon {
		width: 24px;
		height: 24px;

		&.error {
			color: var(--color-red-500);
		}

		&.success {
			color: var(--color-green-500);
		}

		&.warning {
			color: var(--color-yellow-500);
		}
	}

	&__text__desc {
		color: var(--color-secondary);
		font-size: 0.95rem;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 2px;
	}

	&__content {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&__buttons {
		display: flex;
		gap: 8px;

		&:empty {
			display: none;
		}
	}

	&__timeout {
		height: 2px;
		width: 100%;
		overflow: hidden;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		&__bar {
			height: 100%;
			width: 100%;
			background-color: var(--base-lighter-grey);
			animation: slidein 5s linear forwards;
			transform-origin: left;
		}
	}

	.button {
		width: 100%;
	}
}

.notification__list {
	.notification {
		position: absolute;
		translate: 0;
		right: 16px;
		bottom: 16px;
		opacity: 0;
		scale: 0.8;
		transition:
			opacity 0.2s ease-in-out,
			scale 0.2s ease-in-out,
			translate 0.2s ease-in-out;

		&:nth-last-child(1) {
			translate: 0;
			scale: 1;
			opacity: 1;
		}

		&:nth-last-child(2) {
			translate: 0 -1rem;
			scale: 0.95;
			opacity: 1;
		}

		&:nth-last-child(3) {
			translate: 0 -2rem;
			scale: 0.9;
			opacity: 1;
		}

		&:nth-last-child(4) {
			translate: 0 -3rem;
			scale: 0.85;
			opacity: 0;
		}
	}

	&:hover {
		.notification {
			translate: 0;
			scale: 1;

			&:nth-last-child(1) {
				translate: 0;
				opacity: 1;
			}

			&:nth-last-child(2) {
				translate: 0 calc(-100% - 1rem);
				opacity: 1;
			}

			&:nth-last-child(3) {
				translate: 0 calc(-200% - 2rem);
				opacity: 1;
			}

			&:nth-last-child(4) {
				translate: 0 calc(-300% - 3rem);
				opacity: 0;
			}
		}
	}
}
