.button {
	display: inline-flex;
	padding: 6px 16px;
	justify-content: center;
	align-items: center;
	gap: 8px;

	user-select: none;
	border-radius: 4px;
	color: var(--button-color);
	background: var(--button-bg);
	border: 1px solid var(--button-stroke);

	@include mixins.focusable(var(--button-focus));

	&:hover {
		background-color: var(--button-hover, var(--bg-quaternary));
		color: var(--button-hover-text, var(--color-primary));
	}

	&:active {
		background-color: var(--button-active, var(--bg-quinary));
		color: var(--button-active-text, var(--color-primary));
	}

	&:disabled {
		pointer-events: none;
		opacity: 0.3;
	}

	&.default {
		--button-bg: var(--bg-tertiary);
		--button-color: var(--color-primary);
		--button-stroke: var(--separator-primary);
		--button-hover: var(--bg-quaternary);
		--button-active: var(--bg-quinary);
		--button-focus: var(--color-blue-500);
	}

	&.brand {
		--button-bg: var(--color-blue-500);
		--button-color: var(--base-white);
		--button-stroke: var(--color-blue-800);
		--button-hover: var(--color-blue-600);
		--button-hover-text: var(--base-white);
		--button-active: var(--color-blue-700);
		--button-active-text: var(--base-white);
		--button-focus: var(--color-blue-500);
	}

	&.danger {
		--button-bg: var(--bg-tertiary);
		--button-color: var(--color-red-500);
		--button-stroke: var(--separator-primary);
		--button-hover: var(--color-red-500);
		--button-hover-text: var(--base-white);
		--button-active: var(--color-red-600);
		--button-active-text: var(--base-white);
		--button-focus: var(--color-blue-500);
	}

	&.outline {
		--button-bg: var(--bg-tertiary);
		--button-color: var(--color-blue-500);
		--button-stroke: var(--separator-primary);
		--button-hover: var(--color-blue-500);
		--button-hover-text: var(--base-white);
		--button-active: var(--color-blue-600);
		--button-active-text: var(--base-white);
		--button-focus: var(--color-blue-500);
	}

	&.positive {
		--button-bg: var(--bg-tertiary);
		--button-color: var(--color-green-500);
		--button-stroke: var(--separator-primary);
		--button-hover: var(--color-green-500);
		--button-hover-text: var(--base-white);
		--button-active: var(--color-green-600);
		--button-active-text: var(--base-white);
		--button-focus: var(--color-blue-500);
	}
}
