.workspace {
	background-color: var(--bg-primary);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: margin-left 0.2s ease-in-out;

	&.sidebar-active {
		margin-left: 350px;

		@media screen and (max-width: 875px) {
			width: 100vw;
			margin-left: 0;
		}
	}

	&__commit {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 8px 10px;
		gap: 8px;
		font-size: 1rem;
		user-select: none;
		border-bottom: 1px solid var(--separator-secondary);

		&__message {
			color: var(--color-primary);
			font-size: 1.25rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 70%;
		}

		&__details {
			display: flex;
			gap: 8px;
			font-size: 0.85rem;
			align-items: center;

			&__hash {
				color: var(--color-secondary);
				font-weight: 400;
				font-family: var(--font-mono);
			}

			&__diff {
				display: flex;
				gap: 8px;
				align-items: center;

				&__tag {
					background-color: var(--bg-secondary);
					border-radius: 2px;
					padding: 2px 4px;
					font-size: 0.8rem;
					display: flex;
					align-items: center;
					gap: 4px;

					svg {
						width: 8px;
						height: 8px;
					}
				}

				&__files {
					font-family: var(--font-primary);
					color: var(--color-secondary);
				}

				&__insertions {
					color: var(--color-green-500);
					font-family: var(--font-mono);
				}

				&__deletions {
					color: var(--color-red-500);
					font-family: var(--font-mono);
				}
			}
		}
	}

	&__container {
		display: flex;
		height: 100%;
		width: 100%;
		overflow: hidden;

		&__files {
			min-width: 300px;
			width: 300px;
			height: 100%;
			background-color: var(--bg-material);
			overflow-y: auto;
			border-right: 1px solid var(--separator-primary);

			&::-webkit-scrollbar {
				width: 4px;
				height: 4px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: var(--color-secondary);
				border-radius: 4px;

				&:hover {
					background-color: var(--color-primary);
				}
			}

			&::-webkit-scrollbar-track {
				background-color: var(--bg-secondary);
				border-radius: 4px;
			}

			&__file {
				height: 36px;
				display: flex;
				font-weight: 400;
				align-items: center;
				justify-content: space-between;
				padding: 0 12px 0 8px;
				border-bottom: 1px solid var(--separator-secondary);
				overflow: hidden;
				user-select: none;

				@include mixins.focusable;

				&:hover {
					background-color: var(--bg-hover);
				}

				&.active {
					background-color: var(--bg-active);
				}

				&__filename {
					color: var(--color-primary);
					font-size: 1rem;
					font-weight: 400;
					margin-left: 8px;
					overflow: hidden;
					display: flex;
					align-items: center;
					width: 100%;

					&__path {
						opacity: 0.6;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					&__name {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;

						&__separator {
							opacity: 0.6;
						}
					}
				}

				&__status {
					font-family: var(--font-mono);
					background: transparent;
					margin-left: 20px;
					opacity: 1;
					padding: 4px;
					border-radius: 4px;

					&.added {
						color: var(--status-added);
					}

					&.modified {
						color: var(--status-modified);
					}

					&.deleted {
						color: var(--status-deleted);
					}

					&.untracked,
					&.unknown {
						color: var(--status-untracked);
					}
				}
			}
		}

		&__main {
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;

			&__file {
				display: flex;
				width: 100%;
				height: 36px;
				min-height: 36px;
				padding-inline: 10px;
				font-size: 1rem;
				align-items: center;
				user-select: none;
				border-bottom: 1px solid var(--separator-secondary);

				&__path {
					opacity: 0.6;
				}
			}
		}
	}
}
