.workspace {
	background-color: var(--bg-primary);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: margin-left 0.2s ease-in-out;

	&.sidebar-active {
		margin-left: 350px;

		@media screen and (max-width: 800px) {
			width: 100vw;
			margin-left: 0;
		}
	}

	&__file {
		display: flex;
		width: 100%;
		height: 36px;
		min-height: 36px;
		padding-inline: 10px;
		font-size: 14px;
		align-items: center;
		border-bottom: 1px solid var(--separator-secondary);

		&__path {
			opacity: 0.6;
		}
	}
}
