.segmented-control {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: fit-content;
	width: 100%;
	padding: 4px;
	background: var(--bg-tertiary);
	border-radius: 6px;
	flex-shrink: 0;
	user-select: none;

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		font-weight: 400;
		color: var(--color-secondary);
		height: 100%;
		width: 100%;
		padding: 6px 10px;
		border-radius: 4px;
		gap: 8px;

		svg {
			width: 16px;
			height: 16px;
			color: var(--color-secondary);
		}

		@include mixins.focusable;

		&:hover {
			color: var(--color-primary);
		}

		&.active {
			background-color: var(--separator-secondary);
			color: var(--color-primary);
		}
	}
}
