.segmented-control {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: fit-content;
	width: 100%;
	padding: 4px;
	background: var(--bg-tertiary);
	border-radius: 4px;
	flex-shrink: 0;

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		font-weight: 400;
		color: var(--color-secondary);
		height: 100%;
		width: 100%;
		padding: 0 10px;
		padding-block: 6px;
		border-radius: 2px;

		&:hover {
			color: var(--color-primary);
		}

		&:focus {
			outline: none;
			color: var(--color-primary);
		}

		&.active {
			background-color: var(--separator-secondary);
			box-shadow: inset 0 0 0px 1px var(--separator-primary);
			color: var(--color-primary);
		}
	}
}
