.sidebar__item {
	height: 36px;
	display: flex;
	font-weight: 400;
	align-items: center;
	justify-content: space-between;
	padding: 0 12px 0 8px;
	border-bottom: 1px solid var(--separator-secondary);
	overflow: hidden;
	user-select: none;

	&:hover {
		background-color: var(--bg-hover);
	}

	&.active {
		background-color: var(--bg-active);
	}

	&[data-status='untracked'] {
		.sidebar__item__filename {
			opacity: 0.6;
		}
	}

	&__filename {
		color: var(--color-primary);
		font-size: 1rem;
		font-weight: 400;
		margin-left: 8px;
		overflow: hidden;
		display: flex;
		align-items: center;
		width: 100%;

		&__path {
			opacity: 0.6;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&__name {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&__separator {
				opacity: 0.6;
			}
		}
	}

	&__status {
		font-family: var(--font-mono);
		background: transparent;
		margin-left: 20px;
		opacity: 0.3;
		cursor: pointer;
		padding: 4px;
		border-radius: 4px;

		&:focus {
			outline: 2px solid #{illyrica.$color-blue-500};
		}

		&.staged {
			opacity: 1;
		}

		&.added {
			color: var(--status-added);
		}

		&.modified {
			color: var(--status-modified);
		}

		&.deleted {
			color: var(--status-deleted);
		}

		&.untracked,
		&.unknown {
			color: var(--status-untracked);
		}
	}
}
