@use '../../../illyrica/mixins' as mixins;

.sidebar__item {
	height: 36px;
	display: flex;
	font-weight: 400;
	align-items: center;
	justify-content: space-between;
	padding: 0 12px 0 8px;
	border-bottom: 1px solid var(--separator-secondary);
	overflow: hidden;
	user-select: none;

	@include mixins.focusable;

	&:hover {
		background-color: var(--bg-hover);
	}

	&.active {
		background-color: var(--bg-active);
	}

	&[data-status='untracked'] {
		.sidebar__item__filename {
			opacity: 0.6;
		}
	}

	&__fileicon {
		min-width: 16px;
		max-width: 16px;
		height: 22px;
		margin-left: 8px;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__filename {
		color: var(--color-primary);
		font-size: 1rem;
		font-weight: 400;
		margin-left: 6px;
		overflow: hidden;
		display: flex;
		align-items: center;
		width: 100%;

		&__arrow {
			margin-inline: 4px;
			opacity: 0.6;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				width: 12px;
				height: 12px;
			}
		}

		&__path {
			opacity: 0.6;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&__name {
			white-space: nowrap; // we are assuming the filename will be short enough not to overflow :/

			&__separator {
				opacity: 0.6;
			}
		}
	}

	&__status {
		font-family: var(--font-mono);
		background: transparent;
		margin-left: 20px;
		opacity: 0.3;
		cursor: pointer;
		padding: 4px;
		border-radius: 4px;

		@include mixins.focusable;

		&.staged {
			opacity: 1;
		}

		&.added {
			color: var(--status-added);
		}

		&.modified {
			color: var(--status-modified);
		}

		&.renamed {
			color: var(--status-renamed);
		}

		&.deleted {
			color: var(--status-deleted);
		}

		&.untracked,
		&.unknown {
			color: var(--status-untracked);
		}
	}
}
