@mixin focusable($focus-color: var(--color-blue-500), $offset: -2px) {
	&:focus {
		border-color: transparent;
		box-shadow: none;
		outline: 2px solid $focus-color;
		outline-offset: $offset;
	}
}

@mixin active($focus-color: var(--color-blue-500), $offset: -2px) {
	&.active {
		border-color: transparent;
		box-shadow: none;
		outline: 2px solid $focus-color;
		outline-offset: $offset;
	}
}
