$base-white: #fff;
$base-black: #000;
$base-dark-grey: #25292e;
$base-darker-grey: #191c1f;
$base-grey: #656d76;
$base-light-grey: #d0d7de;
$base-lighter-grey: #d0d7de66;
$material-primary: #fff;
$material-secondary: #fafbfc;
$material-tertiary: #f6f8fa;
$material-quaternary: #f1f2f4;
$material-quinary: #e7ebee;
$material-senary: #e1e4e8;
$dark-base-white: #000;
$dark-base-black: #fff;
$dark-base-dark-grey: #bec2c7;
$dark-base-darker-grey: #101112;
$dark-base-grey: #656d76;
$dark-base-light-grey: #2a2a2a;
$dark-base-lighter-grey: #2a2a2a66;
$dark-material-primary: #141515;
$dark-material-secondary: #1b1c1c;
$dark-material-tertiary: #1a1b1c;
$dark-material-quaternary: #191a1b;
$dark-material-quinary: #18191a;
$dark-material-senary: #171819;
$color-red-100: #fee6e6;
$color-red-200: #fbb1b1;
$color-red-300: #f97878;
$color-red-400: #f55959;
$color-red-500: #e13b3b;
$color-red-600: #d41c1c;
$color-red-700: #ba1b1b;
$color-red-800: #a11;
$color-red-900: #901313;
$color-orange-100: #fef3e6;
$color-orange-200: #fbd8b1;
$color-orange-300: #f9bd78;
$color-orange-400: #f5ac59;
$color-orange-500: #e48315;
$color-orange-600: #d47f1c;
$color-orange-700: #ba701b;
$color-orange-800: #aa6311;
$color-orange-900: #905613;
$color-yellow-100: #fefce6;
$color-yellow-200: #fbf4b1;
$color-yellow-300: #f9ed78;
$color-yellow-400: #f5e559;
$color-yellow-500: #e4cf15;
$color-yellow-600: #d4b81c;
$color-yellow-700: #ba9d1b;
$color-yellow-800: #aa8e11;
$color-yellow-900: #907913;
$color-green-100: #ebfee6;
$color-green-200: #c0fbb1;
$color-green-300: #92f978;
$color-green-400: #78f559;
$color-green-500: #68de4a;
$color-green-600: #41d41c;
$color-green-700: #3bba1b;
$color-green-800: #2faa11;
$color-green-900: #2c9013;
$color-blue-100: #e6f2fe;
$color-blue-200: #b1d6fb;
$color-blue-300: #78b9f9;
$color-blue-400: #59a7f5;
$color-blue-500: #1c84ec;
$color-blue-600: #1c78d4;
$color-blue-700: #1b6aba;
$color-blue-800: #115eaa;
$color-blue-900: #135290;
$color-indigo-100: #efe6fe;
$color-indigo-200: #cdb1fb;
$color-indigo-300: #aa78f9;
$color-indigo-400: #9559f5;
$color-indigo-500: #7934eb;
$color-indigo-600: #631cd4;
$color-indigo-700: #581bba;
$color-indigo-800: #4c11aa;
$color-indigo-900: #431390;
$color-violet-100: #f9e6fe;
$color-violet-200: #ecb1fb;
$color-violet-300: #e078f9;
$color-violet-400: #d659f5;
$color-violet-500: #c21cec;
$color-violet-600: #af1cd4;
$color-violet-700: #9a1bba;
$color-violet-800: #8c11aa;
$color-violet-900: #771390;

:root {
	--base-white: #{$base-white};
	--base-black: #{$base-black};
	--base-dark-grey: #{$base-dark-grey};
	--base-darker-grey: #{$base-darker-grey};
	--base-grey: #{$base-grey};
	--base-light-grey: #{$base-light-grey};
	--base-lighter-grey: #{$base-lighter-grey};
	--material-primary: #{$material-primary};
	--material-secondary: #{$material-secondary};
	--material-tertiary: #{$material-tertiary};
	--material-quaternary: #{$material-quaternary};
	--material-quinary: #{$material-quinary};
	--material-senary: #{$material-senary};
	--dark-base-white: #{$dark-base-white};
	--dark-base-black: #{$dark-base-black};
	--dark-base-dark-grey: #{$dark-base-dark-grey};
	--dark-base-darker-grey: #{$dark-base-darker-grey};
	--dark-base-grey: #{$dark-base-grey};
	--dark-base-light-grey: #{$dark-base-light-grey};
	--dark-base-lighter-grey: #{$dark-base-lighter-grey};
	--dark-material-primary: #{$dark-material-primary};
	--dark-material-secondary: #{$dark-material-secondary};
	--dark-material-tertiary: #{$dark-material-tertiary};
	--dark-material-quaternary: #{$dark-material-quaternary};
	--dark-material-quinary: #{$dark-material-quinary};
	--dark-material-senary: #{$dark-material-senary};
	--color-red-100: #{$color-red-100};
	--color-red-200: #{$color-red-200};
	--color-red-300: #{$color-red-300};
	--color-red-400: #{$color-red-400};
	--color-red-500: #{$color-red-500};
	--color-red-600: #{$color-red-600};
	--color-red-700: #{$color-red-700};
	--color-red-800: #{$color-red-800};
	--color-red-900: #{$color-red-900};
	--color-orange-100: #{$color-orange-100};
	--color-orange-200: #{$color-orange-200};
	--color-orange-300: #{$color-orange-300};
	--color-orange-400: #{$color-orange-400};
	--color-orange-500: #{$color-orange-500};
	--color-orange-600: #{$color-orange-600};
	--color-orange-700: #{$color-orange-700};
	--color-orange-800: #{$color-orange-800};
	--color-orange-900: #{$color-orange-900};
	--color-yellow-100: #{$color-yellow-100};
	--color-yellow-200: #{$color-yellow-200};
	--color-yellow-300: #{$color-yellow-300};
	--color-yellow-400: #{$color-yellow-400};
	--color-yellow-500: #{$color-yellow-500};
	--color-yellow-600: #{$color-yellow-600};
	--color-yellow-700: #{$color-yellow-700};
	--color-yellow-800: #{$color-yellow-800};
	--color-yellow-900: #{$color-yellow-900};
	--color-green-100: #{$color-green-100};
	--color-green-200: #{$color-green-200};
	--color-green-300: #{$color-green-300};
	--color-green-400: #{$color-green-400};
	--color-green-500: #{$color-green-500};
	--color-green-600: #{$color-green-600};
	--color-green-700: #{$color-green-700};
	--color-green-800: #{$color-green-800};
	--color-green-900: #{$color-green-900};
	--color-blue-100: #{$color-blue-100};
	--color-blue-200: #{$color-blue-200};
	--color-blue-300: #{$color-blue-300};
	--color-blue-400: #{$color-blue-400};
	--color-blue-500: #{$color-blue-500};
	--color-blue-600: #{$color-blue-600};
	--color-blue-700: #{$color-blue-700};
	--color-blue-800: #{$color-blue-800};
	--color-blue-900: #{$color-blue-900};
	--color-indigo-100: #{$color-indigo-100};
	--color-indigo-200: #{$color-indigo-200};
	--color-indigo-300: #{$color-indigo-300};
	--color-indigo-400: #{$color-indigo-400};
	--color-indigo-500: #{$color-indigo-500};
	--color-indigo-600: #{$color-indigo-600};
	--color-indigo-700: #{$color-indigo-700};
	--color-indigo-800: #{$color-indigo-800};
	--color-indigo-900: #{$color-indigo-900};
	--color-violet-100: #{$color-violet-100};
	--color-violet-200: #{$color-violet-200};
	--color-violet-300: #{$color-violet-300};
	--color-violet-400: #{$color-violet-400};
	--color-violet-500: #{$color-violet-500};
	--color-violet-600: #{$color-violet-600};
	--color-violet-700: #{$color-violet-700};
	--color-violet-800: #{$color-violet-800};
	--color-violet-900: #{$color-violet-900};
}
