.image-view {
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	display: flex;
	gap: 32px;
	padding: 16px;
	padding-bottom: 100px;
	overflow: hidden;

	&__views {
		position: absolute;
		padding: 16px;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}

	&__diff {
		font-size: 1.5rem;

		&.added {
			color: var(--color-green-500);
		}

		&.removed {
			color: var(--color-red-500);
		}
	}

	&__images {
		align-items: center;
		justify-content: center;
		display: flex;
		gap: 2rem;

		@container (width <= 475px) {
			flex-direction: column;
			height: 100%;

			&__image {
				max-height: 50% !important;

				&__image {
					max-height: 50% !important;
				}
			}
		}

		&__image {
			display: flex;
			gap: 2rem;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			&__type {
				font-size: 1.5rem;

				&.added {
					color: var(--color-green-500);
				}

				&.removed {
					color: var(--color-red-500);
				}
			}

			&__image {
				max-height: 50vh;
				width: 100%;
				object-fit: contain;
				border: 1px solid var(--separator-primary);

				&.added {
					border-color: var(--color-green-500);
				}

				&.removed {
					border-color: var(--color-red-500);
				}
			}

			&__details {
				color: var(--color-secondary);
				display: flex;
				gap: 8px;
				align-items: center;

				&__separator {
					width: 4px;
					height: 4px;
					background: var(--color-secondary);
					border-radius: 50%;
					opacity: 0.8;
				}
			}
		}
	}

	&.difference {
		.image-view__images__image {
			&:nth-child(2) {
				position: absolute;
			}

			&__image {
				border-width: 0;

				&.added {
					mix-blend-mode: difference;
				}
			}
		}
	}
}
