.panel {
	width: 100%;
	position: relative;
	display: flex;
	padding: 11px 8px 0 8px;
	flex-direction: column;
	gap: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	transition:
		width 200ms ease-in-out,
		transform 300ms ease-in-out,
		padding-inline 300ms ease-in-out,
		mask-position 200ms ease-in-out,
		-webkit-mask-position 200ms ease-in-out,
		mask-size 200ms ease-in-out,
		-webkit-mask-size 200ms ease-in-out;
	will-change:
		width,
		transform,
		padding-inline,
		mask-position,
		-webkit-mask-position;

	-webkit-mask-image: radial-gradient(circle at 100% 100%, transparent 10%, white 65%);
	mask-image: radial-gradient(circle at 100% 100%, transparent 10%, white 65%);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 150% 100%;
	mask-size: 150% 100%;
	-webkit-mask-position: 8px;
	mask-position: 8px;

	.header {
		flex-shrink: 0;
		width: 100%;
		height: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-inline: 8px;
		white-space: nowrap;
		gap: 8px;
		color: var(--text-vibrant-secondary);
		overflow: hidden;
		text-overflow: ellipsis;
		transition: width 300ms ease-in-out;
		will-change: width;

		select {
			margin-left: -4px;
			width: 100%;
			background: none;
			color: inherit;
			border: none;

			&:focus {
				outline: none;
				color: var(--text-vibrant-primary);
			}
		}

		.diff,
		.branch {
			display: flex;
			align-items: center;
			gap: 4px;
			font-size: 0.8rem;
			font-family: 'SF Mono', 'IBM Plex Mono', Menlo, monospace;
			font-weight: 400;
			color: var(--text-vibrant-tertiary);
			font-variant-numeric: tabular-nums;

			.insertions {
				color: var(--text-green);
			}

			.deletions {
				color: var(--text-red);
			}
		}
	}
}

.panel.expanded ~ .panel,
.panel.expanded ~ .sep {
	width: 0 !important;
	padding-inline: 0 !important;
}

html:is(:hover, html:has(.panelbutton:focus-within, .panelbutton:focus)) .panel:last-of-type,
html:is(:hover, html:has(.panelbutton:focus-within, .panelbutton:focus)) .panel.expanded {
	-webkit-mask-position: right;
	mask-position: right;

	.header {
		transition: width 200ms ease-in-out;
		width: calc(100% - 32px);
	}
}
