@use '../../../illyrica/mixins';

.clone-modal {
	&__footer {
		justify-content: space-between !important;
		gap: 16px;

		@container (width <= 625px) {
			flex-direction: column !important;
			align-items: flex-start !important;
		}

		.filepicker {
			flex-direction: row;
			align-items: center;

			&__input {
				height: fit-content;
				width: 300px;
			}

			&__alert {
				white-space: nowrap;
			}
		}

		.modal__footer__buttons {
			margin-left: auto;
		}
	}

	&__oauth {
		font-size: 0.85rem;
		display: flex;
		align-items: center;
		gap: 4px;
		background: none;
		color: var(--color-secondary);

		&:focus-visible {
			outline: none;
			text-decoration: underline;
		}

		&.verified {
			color: var(--color-green-500);
		}

		svg {
			width: 14px;
			height: 14px;
		}

		&__avatar {
			width: 14px;
			height: 14px;
			border-radius: 50%;
		}
	}

	&__clone {
		display: flex;
		flex-direction: column;
		gap: 16px;

		button {
			width: fit-content;
		}
	}

	&__url {
		display: flex;
		flex-direction: column;
		gap: 8px;

		&__label {
			color: var(--color-secondary);
			font-size: 0.85rem;
		}

		.textarea__wrapper {
			margin-bottom: 8px;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		margin-left: 16px;
		max-width: 400px;
		width: 100%;

		.spacer {
			width: 100%;
		}

		.dropdown button,
		.textarea__wrapper {
			height: 32px !important;
		}

		textarea {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right-width: 0;
		}

		.dropdown button {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			margin-right: 16px;
		}
	}

	&__details {
		display: flex;
		gap: 16px;
		width: 100%;

		&__readme {
			width: 100%;
			height: 100%;
			display: flex;
			padding: 16px;
			flex-direction: column;
			gap: 8px;
			border-radius: 8px;
			border: 1px solid var(--separator-secondary);
			background: var(--bg-tertiary);

			&__path {
				color: var(--color-secondary);
				font-size: 0.85rem;
			}
		}

		&__info {
			display: flex;
			gap: 16px;
			min-width: 250px;
			height: 100%;
			flex-direction: column;

			&__actions {
				width: 100%;
				height: 100%;
				display: flex;
				padding: 16px;
				flex-direction: column;
				gap: 8px;
				border-radius: 8px;
				border: 1px solid var(--separator-secondary);
				background: var(--bg-tertiary);
			}
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
		grid-gap: 8px;

		&__item {
			background-color: var(--bg-tertiary);
			border: 1px solid var(--separator-primary);
			border-radius: 8px;
			padding: 16px;
			display: flex;
			flex-direction: column;
			gap: 8px;
			height: 100%;

			@include mixins.focusable;

			&:hover {
				background-color: var(--bg-quaternary);
			}

			&.active {
				background: var(--bg-active);
				border-color: var(--color-blue-500);
			}

			&__name {
				font-size: 1rem;
				font-weight: 400;
				margin: 0;
				color: var(--color-primary);
				display: flex;
				align-items: center;
				gap: 4px;

				&__slash {
					color: var(--color-secondary);
				}

				&__image {
					width: 20px;
					height: 20px;
					border-radius: 4px;
					border: 1px solid var(--separator-primary);
					margin-right: 4px;
				}

				&__visibility {
					margin-left: auto;
					display: flex;
					align-items: center;
					justify-content: center;
					color: var(--color-secondary);

					svg {
						width: 14px;
						height: 14px;
					}
				}
			}

			&__description {
				font-size: 1rem;
				margin: 0;
				color: var(--color-secondary);
			}

			&__details {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 16px;
				margin-top: auto;
				padding-top: 8px;
				color: var(--color-secondary);
				font-size: 0.85rem;

				&__social {
					display: flex;
					gap: 8px;

					&__stars,
					&__forks {
						display: flex;
						align-items: center;
						gap: 4px;
					}
				}

				&__language {
					display: flex;
					gap: 8px;
					align-items: center;
					justify-content: center;

					&__indicator {
						width: 12px;
						height: 12px;
						border-radius: 50%;
						border: 1px solid var(--separator-secondary);
					}
				}
			}
		}
	}
}
