.sidebar {
	position: absolute;
	min-width: 350px;
	width: 350px;
	height: 100vh;
	background-color: var(--bg-material);
	overflow: hidden;
	border-right: 1px solid var(--separator-primary);
	transform: translateX(-100%);
	transition: transform 0.2s ease-in-out;
	z-index: 9;

	&.sidebar-active {
		transform: translateX(0);

		@media screen and (max-width: 800px) {
			background-color: var(--bg-quaternary) !important;
		}
	}

	&__items {
		height: calc(100% - 350px);
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0;
		margin: 0;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__commits {
		height: calc(100% - 72px);
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0;
		margin: 0;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.platform-darwin .sidebar {
	height: calc(100% - 28px);
}

.theme-dark.vibrancy .sidebar {
	background-color: #1a1b1cab;
}

.theme-light.vibrancy .sidebar {
	background-color: #f6f8fad4;
}

@media (prefers-color-scheme: dark) {
	.theme-system.vibrancy .sidebar {
		background-color: #1a1b1cab;
	}
}

@media (prefers-color-scheme: light) {
	.theme-system.vibrancy .sidebar {
		background-color: transparent;
	}

	.theme-light.vibrancy .sidebar {
		background-color: transparent;
	}
}
