@keyframes visibilityout {
	0% {
		visibility: visible;
	}
	99% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}

.sidebar {
	position: absolute;
	min-width: 350px;
	width: 350px;
	height: 100vh;
	background-color: var(--bg-material);
	overflow: hidden;
	border-right: 1px solid var(--separator-primary);
	transform: translateX(-100%);
	transition: transform 0.2s ease-in-out;
	z-index: 9;

	&:not(.sidebar-active) {
		animation: visibilityout 0.2s linear forwards;
	}

	&.sidebar-active {
		transform: translateX(0);
		visibility: visible;

		@media screen and (max-width: 875px) {
			background-color: var(--bg-quaternary) !important;
		}
	}

	&__items {
		height: calc(100% - 336px);
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0;
		margin: 0;

		&::-webkit-scrollbar {
			width: 4px;
			height: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--color-secondary);
			border-radius: 4px;

			&:hover {
				background-color: var(--color-primary);
			}
		}

		&::-webkit-scrollbar-track {
			background-color: var(--bg-secondary);
			border-radius: 4px;
		}
	}

	&__commits {
		height: calc(100% - 72px);
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0;
		margin: 0;

		&::-webkit-scrollbar {
			width: 4px;
			height: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--color-secondary);
			border-radius: 4px;

			&:hover {
				background-color: var(--color-primary);
			}
		}

		&::-webkit-scrollbar-track {
			background-color: var(--bg-secondary);
			border-radius: 4px;
		}
	}
}

.platform-darwin .sidebar,
.platform-win32 .sidebar {
	height: calc(100% - 28px);
}

.theme-dark.vibrancy .sidebar {
	background-color: #1a1b1c4a;
}

.theme-light.vibrancy .sidebar {
	background-color: #f6f8fad4;
}

@media (prefers-color-scheme: dark) {
	.theme-system.vibrancy .sidebar {
		background-color: #1a1b1c4a;
	}
}

@media (prefers-color-scheme: light) {
	.theme-system.vibrancy .sidebar {
		background-color: transparent;
	}

	.theme-light.vibrancy .sidebar {
		background-color: transparent;
	}
}
