.sidebar__commit {
	display: flex;
	font-weight: 400;
	align-items: center;
	flex-direction: column;
	padding: 8px 12px;
	border-bottom: 1px solid var(--separator-secondary);
	overflow: hidden;
	user-select: none;
	gap: 8px;

	@include mixins.focusable;

	&:hover {
		background-color: var(--bg-hover);
	}

	&.active {
		background-color: var(--bg-active);
	}

	&__top {
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;
		gap: 16px;

		&__message {
			color: var(--color-primary);
			font-size: 1rem;
			font-weight: 500;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 70%;
		}

		&__hash {
			color: var(--color-secondary);
			font-size: 1rem;
			font-weight: 400;
			font-family: var(--font-mono);
		}
	}

	&__diff {
		font-size: 0.9rem;
		font-weight: 400;
		display: flex;
		gap: 6px;
		width: 100%;

		&__files {
			font-family: var(--font-primary);
			color: var(--color-secondary);
			margin-right: auto;
		}

		&__insertions {
			color: var(--color-green-500);
			font-family: var(--font-mono);
		}

		&__deletions {
			color: var(--color-red-500);
			font-family: var(--font-mono);
		}
	}

	&__bottom {
		display: flex;
		width: 100%;
		align-items: center;
		gap: 8px;

		&__author {
			color: var(--color-secondary);
			font-size: 0.9rem;
			font-weight: 400;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 70%;
		}

		&__date {
			color: var(--color-secondary);
			font-size: 0.9rem;
			font-weight: 400;
			margin-left: auto;
		}
	}
}
