.sidebar__footer {
	padding: 16px;
	height: 265px;
	border-top: 1px solid var(--separator-primary);
	flex-direction: column;
	display: flex;
	gap: 8px;
	position: absolute;
	left: 0;
	right: 0;
	background-color: transparent;
	transition:
		bottom 0.5s ease-in-out,
		opacity 0.5s ease-in-out;

	// hidden styling
	bottom: -225px;
	opacity: 0.5;
	pointer-events: none;
	user-select: none;

	@media (prefers-reduced-motion: reduce) {
		bottom: 0;
		opacity: 1;
		pointer-events: auto;
		user-select: auto;
	}

	&.showing {
		bottom: 0;
		opacity: 1;
		pointer-events: auto;
		user-select: auto;
	}

	.textarea__wrapper {
		height: 32px;
	}

	&__textarea__button {
		width: 18px;
		height: 18px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: none;
		border: none;
		color: var(--color-secondary);
		border-radius: 2px;

		&:hover {
			color: var(--color-primary);
		}

		&:focus {
			outline: none;
			color: var(--color-blue-500);
		}
	}
}
