.sidebar__footer {
	padding: 20px;
	height: 265px;
	border-top: 1px solid var(--separator-primary);
	flex-direction: column;
	display: flex;
	gap: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	background-color: transparent;
	transition:
		bottom 0.5s ease-in-out,
		opacity 0.5s ease-in-out;

	// hidden styling
	bottom: -225px;
	opacity: 0.5;
	pointer-events: none;
	user-select: none;

	&.showing {
		bottom: 0;
		opacity: 1;
		pointer-events: auto;
		user-select: auto;
	}

	&__textarea-button {
		width: 18px;
		height: 18px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: none;
		border: none;
		color: var(--color-secondary);
		border-radius: 2px;

		@include mixins.focusable;

		&:hover {
			color: var(--color-primary);
		}
	}
}
