.information-modal {
	&__graph {
		flex-direction: column;
		display: flex;
		gap: 16px;
		height: 100%;

		&__item {
			display: flex;
			align-items: center;
			gap: 8px;
			width: 100%;
			height: 24px;

			&__indicator {
				margin-right: 8px;
				height: 24px;

				&__line {
					width: 2px;
					height: 100%;
					background: var(--color, var(--color-blue-500));
					opacity: var(--alpha-factor, 1);
					margin-left: calc(8px * var(--indent));
					margin-right: calc((8px * var(--max-indent)) - 2px - (8px * var(--indent)));
				}
			}

			&__badge {
				color: var(--color, var(--color-secondary));
				background: var(--bg, var(--bg-secondary));
				border-radius: 4px;
				padding: 4px 8px;
				font-size: 0.8rem;
			}

			&__message {
				color: var(--color-primary);
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&__right {
				gap: 16px;
				margin-left: auto;
				display: flex;
				font-size: 0.8rem;
				color: var(--color-secondary);

				.anchor {
					font-family: var(--font-mono);
				}
			}
		}
	}

	&__metadata {
		display: flex;
		flex-direction: column;
		gap: 16px;
		height: 100%;

		&__panel {
			display: flex;
			padding: 16px;
			flex-direction: column;
			gap: 8px;
			width: 100%;
			height: 100%;
			border-radius: 4px;
			background: var(--bg-secondary);

			.empty-state {
				height: 180px;

				&__hint {
					opacity: 0.6;
				}
			}

			&.metadata {
				display: grid;
				grid-template-columns: 300px 100px 250px;
				column-gap: 32px;
				height: fit-content;
			}

			&__label {
				color: var(--color-secondary);
				font-size: 0.8rem;
				font-weight: 600;
				line-height: 1.25rem;
			}

			&__graph {
				width: 100%;
				display: flex;
				flex-direction: column;
				height: 180px;

				&__values {
					display: flex;
					padding: 0 8px;
					justify-content: center;
					gap: 16px;
					width: 100%;
					height: 100%;
					align-items: flex-end;

					&__item {
						width: 100%;
						background: var(--color-blue-500);
						opacity: var(--alpha-factor);
						border-radius: 2px 2px 0 0;
						transition: height 0.2s ease-in-out;

						&:focus {
							opacity: 1 !important;
							outline: none;
						}
					}
				}

				&__labels {
					display: flex;
					padding: 0 8px;
					justify-content: center;
					gap: 16px;
					width: 100%;

					&__item {
						width: 100%;
						color: var(--color-secondary);
						font-size: 0.8rem;
						text-align: center;
						height: fit-content;
						padding-block: 4px;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}

			&__item {
				display: flex;
				flex-direction: column;
				gap: 4px;
				width: 100%;

				&__label {
					color: var(--color-secondary);
					font-size: 0.8rem;
					font-weight: 600;
					line-height: 1.25rem;
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 8px;

					&__button {
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 4px;
						border-radius: 4px;
						background: transparent;
						color: var(--color-secondary);

						@include mixins.focusable;

						svg {
							width: 12px;
							height: 12px;
						}

						&:hover {
							color: var(--color-primary);
						}
					}
				}

				&__value {
					color: var(--color-primary);
					font-size: 1rem;
					line-height: 1.25rem;
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					padding-right: 32px;
				}
			}
		}
	}
}
