@use '../../../../illyrica/mixins';

@keyframes visibilityout {
	0% {
		visibility: visible;
	}

	99% {
		visibility: visible;
	}

	100% {
		visibility: hidden;
	}
}

.sidebar__drawer {
	position: absolute;
	inset: 0;
	z-index: 4;
	background-color: var(--bg-tertiary);
	border-right: 1px solid var(--separator-primary);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: calc(100% - 72px);
	width: 350px;
	justify-content: space-between;
	padding-top: 16px;
	transform: translateX(-100%);
	transition:
		transform 0.2s ease-in-out,
		opacity 0.2s ease-in-out;
	margin-top: 72px;
	user-select: none;

	@media (prefers-reduced-motion: reduce) {
		transform: translateX(0);
		opacity: 0;

		&.open {
			opacity: 1;
		}
	}

	&:not(.open) {
		animation: visibilityout 0.2s linear forwards;
	}

	&.open {
		visibility: visible;
		transform: translateX(0);
	}

	&__body {
		display: flex;
		flex-direction: column;
		max-height: 100%;
		overflow: hidden;

		&__header {
			font-weight: 450;
			font-size: 1.25rem;
			padding: 0 16px 16px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;
			color: var(--color-primary);
			outline: none;

			&__button {
				height: 16px;
				font-size: 1rem;
				background-color: transparent;
				color: var(--color-secondary);

				&:hover {
					color: var(--color-primary);
				}

				&:focus-visible {
					outline: none;
					color: var(--color-blue-500);
				}
			}
		}

		&__content {
			display: flex;
			flex-direction: column;
			overflow-y: auto;

			&::-webkit-scrollbar {
				width: 0;
			}

			&__item {
				background-color: transparent;
				border: none;
				color: var(--color-primary);
				font-size: 1rem;
				font-weight: 400;
				padding: 8px 16px;
				width: 100%;
				display: flex;
				gap: 16px;
				align-items: center;
				justify-content: space-between;

				@include mixins.focusable;

				&:not(:last-child) {
					border-bottom: 1px solid var(--separator-secondary);
				}

				&:hover {
					background-color: var(--bg-hover);
				}

				&.active {
					background-color: var(--bg-active);
				}

				&__text {
					display: flex;
					gap: 4px;
					flex-direction: column;
					text-align: left;

					&__details {
						font-size: 0.85rem;
						opacity: 0.6;
					}
				}

				&__indicator {
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background-color: var(--color-blue-500);
				}
			}
		}
	}
}
