.publish-modal {
	&__content {
		display: flex;
		flex-direction: column;
		gap: 8px;

		&__label {
			color: var(--color-secondary);
			font-size: 0.85rem;
		}

		.textarea,
		.dropdown {
			margin-bottom: 8px;
		}

		.switch label {
			padding: 0 !important;
		}
	}
}
