@use '../../illyrica/mixins' as mixins;

.menu {
	position: absolute;
	left: var(--x);
	top: var(--y);
	border-radius: 4px;
	background-color: var(--bg-floating);
	border: 1px solid var(--separator-primary);
	box-shadow: -2px 4px 11px rgb(0 0 0 / 25%);
	min-width: 200px;
	z-index: 99;

	&__label {
		font-size: 0.8rem;
		padding: 10px 18px;
		color: var(--color-secondary);
		border-bottom: 1px solid var(--separator-secondary);
	}

	&__item {
		font-size: 1rem;
		font-weight: 400;
		margin-inline: 8px;
		padding: 10px;
		border-radius: 2px;
		user-select: none;
		display: flex;
		gap: 16px;
		align-items: center;
		justify-content: space-between;

		&__accelerator {
			display: flex;
			gap: 1px;
			color: var(--color-secondary);
			text-transform: uppercase;
			font-size: 0.9rem;

			> * {
				display: block;
			}
		}

		@include mixins.focusable;

		&.face {
			text-align: center;
		}

		&.disabled {
			pointer-events: none;
			opacity: 0.5;
		}

		&:nth-child(1) {
			margin-top: 8px;
		}

		&:nth-last-child(1) {
			margin-bottom: 8px;
		}

		&.danger {
			color: rgb(215 95 95);

			&:hover {
				background-color: rgb(215 95 95 / 10%);
			}

			&:active {
				background-color: rgb(215 95 95 / 20%);
			}
		}

		&:hover {
			background-color: var(--bg-hover);
		}

		&:active {
			background-color: var(--bg-active);
		}
	}

	&__separator {
		height: 1px;
		margin: 8px 0;
		background-color: var(--separator-secondary);
	}
}
