.textarea {
	max-height: 32px;
	min-height: 32px;
	width: 100%;
	font-size: 1rem;
	resize: none;
	font-family: var(--font-primary);
	overflow-y: hidden;
	white-space: nowrap;

	padding: 7px 16px;
	border-radius: 4px;
	color: var(--input-color);
	background: var(--input-bg);
	border: 1px solid var(--input-stroke);

	--input-color: var(--color-primary);
	--input-bg: var(--bg-tertiary);
	--input-stroke: var(--separator-primary);
	--input-focus: #{illyrica.$color-blue-500};

	@include mixins.focusable(var(--input-focus));

	&__wrapper {
		position: relative;
		width: 100%;
		height: fit-content;
	}

	&__footer {
		position: absolute;
		right: 10px;
		bottom: 10px;
	}

	&.expanded {
		overflow-y: auto;
		white-space: normal;
		max-height: 100%;
		min-height: 32px;
		height: auto;
	}

	&::placeholder {
		color: var(--color-secondary);
		user-select: none;
	}

	&::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--bg-quaternary);
		border-radius: 4px;
	}
}
