.palette {
	width: 100%;
	height: 100%;
	background: rgb(0 0 0 / 50%);
	display: flex;
	justify-content: center;
	padding-block: 200px;

	&__body {
		display: flex;
		width: min(90%, 600px);
		padding: 16px;
		flex-direction: column;
		gap: 16px;
		height: fit-content;
		border-radius: 4px;
		border: 1px solid var(--separator-primary);
		display: flex;
		flex-direction: column;
		position: relative;
		background-color: var(--bg-primary);
		color: var(--color-primary);
		max-height: 100%;

		&__input {
			border-radius: 4px;
			border: 1px solid var(--separator-secondary);
			background: var(--bg-secondary);
			display: flex;
			padding: 8px 16px;
			justify-content: space-between;
			align-items: center;

			&__input {
				width: 100%;
				background: none;
				border: none;
				color: var(--color-primary);
				font-size: 1rem;
				padding: 0;
				margin: 0;

				&:focus {
					outline: none;
				}
			}

			&__hint {
				color: var(--color-secondary);
				font-size: 0.8rem;
				white-space: nowrap;
			}
		}

		&__separator {
			width: 100%;
			height: 1px;
			background: var(--separator-secondary);
		}

		&__list {
			display: flex;
			flex-direction: column;
			overflow-y: auto;

			&::-webkit-scrollbar {
				display: none;
			}

			&__item {
				display: flex;
				padding: 8px 16px;
				justify-content: space-between;
				align-items: center;
				align-self: stretch;
				border-radius: 4px;
				border: none;
				background: none;
				color: var(--color-primary);
				gap: 8px;

				&__info {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 4px;
					margin-right: auto;
					color: var(--color-secondary);
					font-size: 0.8rem;
					font-weight: 400;
					line-height: 20px;

					&__dot {
						width: 2px;
						height: 2px;
						border-radius: 50%;
						background: var(--color-secondary);
					}
				}

				&__return {
					display: none;
					color: var(--color-secondary);
					font-size: 0.8rem;
				}

				&.active {
					background: var(--bg-hover);

					.palette__body__list__item__return {
						display: block;
					}
				}
			}
		}
	}
}
