.anchor {
	background: none;
	border: none;
	color: var(--color-link);
	cursor: pointer;
	font-size: inherit;
	font-weight: inherit;
	padding: 0;

	&:focus-visible {
		outline: none;
		text-decoration: underline;
	}

	&:hover {
		text-decoration: underline;
	}
}
