@use 'macos/colors' as macos;
@use '../../app/src/illyrica/mixins' as mixins;
@use 'sass:color' as color;

@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Mono';
@import 'https://rsms.me/inter/inter.css';

* {
	box-sizing: border-box;
	font-family: inherit;
	margin: 0;
	padding: 0;
}

html {
	user-select: none;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	/* stylelint-disable-next-line declaration-property-unit-allowed-list */
	font-size: 13px;
	color: var(--text-primary);
	font-family:
		system-ui,
		-apple-system,
		'SF Pro',
		InterVariable,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	width: 100%;
	height: 100%;
}

#popout-container {
	width: 100%;
	height: 100%;
	display: flex;
}

.platform-linux {
	background-color: var(--bg-primary);
}
