.layer[data-key='modal'] {
	&.visible {
		background: rgb(0 0 0 / 50%);
	}
}

.modal-container {
	position: absolute;
	inset: 0;
	z-index: calc(98 + var(--modal-index));
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;

	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--color-secondary);
		border: 2px solid var(--bg-secondary);
		border-radius: 4px;

		&:hover {
			background-color: var(--color-primary);
		}
	}

	::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&.visible {
		pointer-events: all;
	}

	.modal {
		width: 100%;
		max-width: 800px;
		min-height: 600px;
		max-height: 80%;
		height: fit-content;
		border-radius: 4px;
		border: 1px solid var(--separator-secondary);
		display: flex;
		flex-direction: column;
		position: relative;
		background-color: var(--bg-primary);
		color: var(--color-primary);
		container-type: inline-size;

		&:focus-visible {
			outline: none;
		}

		&__confetti {
			position: absolute;
			top: -10%;
			left: 50%;
			pointer-events: none;
			z-index: 99;
		}

		&.small {
			max-width: 500px;
			min-height: 300px;
			max-height: 60%;
			height: fit-content;
		}

		&.medium {
			max-width: 600px;
			min-height: 400px;
			max-height: 70%;
			height: fit-content;
		}

		&.large {
			max-width: 800px;
			min-height: 600px;
			max-height: 80%;
			height: fit-content;
		}

		&.x-large {
			margin: 10% 12%;
			max-width: 100%;
			min-height: 70%;
			max-height: 80%;
			height: fit-content;
		}

		&__close {
			width: 32px;
			height: 32px;
			color: var(--color-primary);
			background-color: transparent;
			opacity: 0.6;

			&:hover {
				opacity: 1;
			}

			&:focus-visible {
				outline: none;
				color: var(--color-blue-500);
				opacity: 1;
			}
		}

		&__header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 32px 32px 16px;
			user-select: none;
			gap: 32px;
			border-bottom: 1px solid var(--separator-secondary);

			&__title {
				font-size: 2rem;
				font-weight: 500;
				display: flex;
				gap: 16px;
				align-items: center;
				overflow: hidden;
				max-width: 100%;
				width: 100%;
			}
		}

		&__body {
			padding-inline: 40px;
			padding-block: 20px;
			flex: 1;
			overflow-y: auto;
			user-select: none;
			scrollbar-gutter: stable;
		}

		&__footer {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			padding: 16px 32px;
			border-top: 1px solid var(--separator-secondary);

			&__buttons {
				display: flex;
				gap: 10px;

				button {
					padding-inline: 30px;
				}
			}
		}
	}
}

.error-modal {
	&__message {
		font-size: 1.25rem;
		font-weight: 400;
		margin-bottom: 20px;
	}

	&__stack {
		overflow: hidden;
		white-space: pre-wrap;
		text-overflow: ellipsis;
		font-size: 1rem;
		font-weight: 400;
		padding: 16px;
		border-radius: 4px;
		background-color: var(--bg-secondary);
	}
}
